*{
    margin:0;
    padding:0;
}
.dropbox{
    width: 100%;
    min-height: 300px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: 3px dashed gray;
    border-radius: 10px;
    background-color: #b9def0;
    position: relative;
}
.dropbox:hover{
    cursor: pointer;
}
.dropbox p{
    line-height: 300px;
    position: absolute;
    top: 0;
    width: 100%;
}
.dropbox img{
    width: 100%;
    position: relative;
    z-index: 999;
}
.file-size{
    font-size: 20px;
    margin-top: 10px;
}
